Spor Salonu/src/META-INF/wsdl/localhost/Software/SoftwareWebService.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Software" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Software"><xs:complexType name="ProgramDersDB"><xs:sequence><xs:element minOccurs="0" name="Ders1" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Ders2" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Ders3" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Ders4" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Ders5" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Ders6" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Hata" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Tarih" type="xs:dateTime"/></xs:sequence></xs:complexType><xs:element name="ProgramDersDB" nillable="true" type="tns:ProgramDersDB"/><xs:complexType name="ArrayOfKisiBilgileriDB"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="KisiBilgileriDB" nillable="true" type="tns:KisiBilgileriDB"/></xs:sequence></xs:complexType><xs:element name="ArrayOfKisiBilgileriDB" nillable="true" type="tns:ArrayOfKisiBilgileriDB"/><xs:complexType name="KisiBilgileriDB"><xs:sequence><xs:element minOccurs="0" name="Boy" type="xs:int"/><xs:element minOccurs="0" name="CalismaSaati" type="xs:int"/><xs:element minOccurs="0" name="Hata" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Kalori" type="xs:int"/><xs:element minOccurs="0" name="Kilo" type="xs:int"/><xs:element minOccurs="0" name="Kosu" type="xs:int"/><xs:element minOccurs="0" name="TC" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Tarih" type="xs:dateTime"/></xs:sequence></xs:complexType><xs:element name="KisiBilgileriDB" nillable="true" type="tns:KisiBilgileriDB"/></xs:schema>